<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %> 
    <link rel="stylesheet" href="/styles/restaurants.css" />
  </head>
  <body>
    <%- include('includes/header') %> 
    <%- include('includes/side-drawer') %>
    <main>
      <h1><%= restaurant.name %> </h1>
      <img src="<%= restaurant.image %>" alt="<%= restaurant.image %>">
      <p><%= restaurant.cuisine %>  | <%= restaurant.address %> </p>
      <p><%= restaurant.description %> </p>
      <p><a href="<%= restaurant.website %> ">View Website</a></p>
    </main>
<div class="comment-box">
    <h3>Comments</h3>
    <% if (comments){ %>
      <% for(const comment of comments) { %>
        <div class="comment-item"><img src="https://cdn.onlinewebfonts.com/svg/img_87237.png" width="50px" height="50px" alt="profile-picture"><%=comment%><br></div> 
      <% } %>
    <% } else { %>
      <p>No comments added yet</p> 
    <% } %> 
    Comment here:
    <form method="post">
      <input type="text" name="comment">
    </form><br>
</div>
  </body>
</html>
